
.DS_Store

pluto_state_cache

website/__site/
build/
website/config.md

generate/*.toml

notebooks/*.csv
notebooks/Lect09/lecture_09_reading.pdf
notebooks/JuliaBasics/Lect06/bonds.xlsx
notebooks/Lect09/CRSP_monthly.csv
notebooks/JuliaBasics/Lect06/bonds.xlsx
notebooks/JuliaBasics/Lect06/bonds.xlsx
notebooks/Lect10/CRSP_monthly.csv
notebooks/Lect09/participation.csv
notebooks/Lect10/lecture_10_reading.pdf
notebooks/Lect08/participation.csv
notebooks/Lect08/participation.csv
notebooks/Lect08/participation.csv
notebooks/JuliaBasics/Lect06/bonds.xlsx
notebooks/Lect08/participation.csv
